<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="TicketingOfficePricingEntities" connectionString="metadata=res://*/PricingRulesModel.csdl|res://*/PricingRulesModel.ssdl|res://*/PricingRulesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=TicketingOffice;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


  <appSettings>   
    <add key="ProbUri"  value="net.tcp://localhost:5050/Probe" />
  </appSettings>


  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="StandardBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          
          <serviceDebug includeExceptionDetailInFaults="false"/>          
         
          <serviceDiscovery />          
        </behavior>

      
      </serviceBehaviors>    
    </behaviors>


    <bindings>
     
      <ws2007HttpBinding>
         
        <binding name="NoSecurity" transactionFlow="true" maxReceivedMessageSize="200000" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <security mode="None"></security>
        </binding> 
      
      </ws2007HttpBinding>

     </bindings>
     
    <!--Lab 5: Discovery-->
    <standardEndpoints>
      <!-- Specify the discovery protocol version and maxResponseDelay -->
      <udpDiscoveryEndpoint>
        <standardEndpoint name="adhocDiscoveryEndpointConfiguration" discoveryVersion="WSDiscovery11" maxResponseDelay="00:00:10" />
      </udpDiscoveryEndpoint>
      <!--Specify the discovery mode of the proxy discovery endpoint is Managed and not Ad-hoc-->
      <discoveryEndpoint>
        <standardEndpoint name="managedDiscoveryEndpoint" discoveryMode="Managed" maxResponseDelay="00:01:00"/>
      </discoveryEndpoint>
      <!-- Specify the announcement protocol -->
      <announcementEndpoint>
        <standardEndpoint name="UdpAnnouncementEndpoint" discoveryVersion="WSDiscovery11"/>
      </announcementEndpoint>
    </standardEndpoints>

    <services>

      <service name="TicketingOffice.PricingRulesService.TicketingPricingRulesService" behaviorConfiguration="SendAnnouncements">
       
        <endpoint address="PricingRules" binding="ws2007HttpBinding" bindingConfiguration="NoSecurity" contract="TicketingOffice.PricingRules.Contracts.IPricingRulesService"></endpoint>

        <!--Add Configuration here-->
      </service>
      
    </services>

  </system.serviceModel>




  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
