<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TicketingOffice;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <appSettings>    
    <add key="ProbUri"  value="net.tcp://localhost:5050/Probe" />
  </appSettings>


 
  <system.serviceModel>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <behaviors>
 
      <serviceBehaviors>
        <behavior name="StandardBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />     
          <serviceDiscovery />
        </behavior>      
        
      </serviceBehaviors>
    </behaviors>


    <bindings>
     
      <ws2007HttpBinding>
         
        <binding name="NoSecurity" transactionFlow="true" maxReceivedMessageSize="200000" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <security mode="None"></security>
        </binding> 
        
        <!--Lab 5-->
        <binding name="RM_NoSecurity" transactionFlow="true" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <reliableSession enabled="true" ordered="false"  />
          <security mode="None"></security>
        </binding>
      </ws2007HttpBinding>      
    </bindings>

    <!--Lab 5: Discovery-->
    <standardEndpoints>
      <!-- Specify the discovery protocol version and maxResponseDelay -->
      <udpDiscoveryEndpoint>
        <standardEndpoint name="adhocDiscoveryEndpointConfiguration" discoveryVersion="WSDiscovery11" maxResponseDelay="00:00:10" />
      </udpDiscoveryEndpoint>
      <!--Specify the discovery mode of the proxy discovery endpoint is Managed and not Ad-hoc-->
      <discoveryEndpoint>
        <standardEndpoint name="managedDiscoveryEndpoint" discoveryMode="Managed" maxResponseDelay="00:01:00"/>
      </discoveryEndpoint>
      <!-- Specify the announcement protocol -->
      <announcementEndpoint>
        <standardEndpoint name="UdpAnnouncementEndpoint" discoveryVersion="WSDiscovery11"/>
      </announcementEndpoint>
    </standardEndpoints>

  
    <services>
      <service name="TicketingOffice.PricingService.TicketsPricingService" behaviorConfiguration="StandardBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5005"/>
          </baseAddresses>
        </host>
        <endpoint address="TicketesPricing" binding="ws2007HttpBinding" bindingConfiguration="NoSecurity" contract="TicketingOffice.Pricing.Contracts.IPricingService"></endpoint>

        <!--Add Configuration here-->
      </service>

    </services>


    <client>
         <endpoint name="PricingRulesEP"
                address="http://localhost/PricingRules.svc/PricingRules" binding="ws2007HttpBinding" bindingConfiguration="NoSecurity" contract="TicketingOffice.PricingRules.Contracts.IPricingRulesService"></endpoint>
     
    </client>

  </system.serviceModel>




  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
