<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TicketingOffice;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="TicketingOfficeCrmEntities" connectionString="metadata=res://*/CrmModel.csdl|res://*/CrmModel.ssdl|res://*/CrmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=TicketingOffice;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <remove name="AspNetSqlRoleProvider"/>
        <remove name="AspNetWindowsTokenRoleProvider"/>
        <add name="AspNetSqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add name="AspNetWindowsTokenRoleProvider" applicationName="/" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>
  </system.web>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="StandardBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceDiscovery />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <ws2007HttpBinding>
        <binding name="NoSecurity" transactionFlow="true" maxReceivedMessageSize="200000" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <security mode="None"></security>
        </binding>
      </ws2007HttpBinding>
    </bindings>

    <services>
      <service name="TicketingOffice.CrmService.CustomerRelationsService" behaviorConfiguration="StandardBehavior">
        <!--Add endpoint configuration here-->
        <endpoint
            address="InternalCrm"
            binding="ws2007HttpBinding"
            bindingConfiguration="NoSecurity"
            contract="TicketingOffice.CrmService.Contracts.ICrmService">
        </endpoint>
        <endpoint
            address="PartnerCrm"
            binding="ws2007HttpBinding"
            bindingConfiguration="NoSecurity"
            contract="TicketingOffice.CrmService.Contracts.ICrmBase">
        </endpoint>
        <endpoint 
          address="PrivateCrm" 
          binding="ws2007HttpBinding" 
          bindingConfiguration="NoSecurity" 
          contract="TicketingOffice.CrmService.Contracts.IPrivateCrm">
        </endpoint>

      </service>
    </services>

    <client>
      <endpoint name="TicketingEP"
             address="http://localhost:5008/Ticketing" binding="ws2007HttpBinding" bindingConfiguration="NoSecurity" contract="TicketingOffice.TicketingService.Contracts.ITicketingService"></endpoint>
    </client>
  </system.serviceModel>
  <system.web>
    <authentication mode="Forms" />
  </system.web>
</configuration>