<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TicketingOffice;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="TicketingOfficeExchangeEntities" connectionString="metadata=res://*/ExchangeModel.csdl|res://*/ExchangeModel.ssdl|res://*/ExchangeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=TicketingOffice;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>



  <system.serviceModel>

    <!--Lab 5: Discovery-->
    <standardEndpoints>
      <!-- Specify the discovery protocol version and maxResponseDelay -->
      <udpDiscoveryEndpoint>
        <standardEndpoint name="adhocDiscoveryEndpointConfiguration" discoveryVersion="WSDiscovery11" maxResponseDelay="00:00:10" />
      </udpDiscoveryEndpoint>
    </standardEndpoints>

    <behaviors>
      <serviceBehaviors>
        <behavior name="StandardBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          
          <serviceDebug includeExceptionDetailInFaults="false"/>          
     
          <serviceDiscovery />         
        </behavior>      

      </serviceBehaviors>
     
    </behaviors>


    <bindings>
         
      <ws2007HttpBinding>
         
        <binding name="NoSecurity" transactionFlow="true" maxReceivedMessageSize="200000" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <security mode="None"></security>
        </binding>
         
         <!--Lab 5-->
        <binding name="RM_NoSecurity" transactionFlow="true" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <reliableSession enabled="true" ordered="false"  />
          <security mode="None"></security>
        </binding>
      </ws2007HttpBinding>
     
    </bindings>

   
    <services>
      <service name="TicketingOffice.CurrencyExchange.Wcf.CurrencyExchangeService" behaviorConfiguration="StandardBehavior">        
        <endpoint address="Exchange" binding="ws2007HttpBinding" bindingConfiguration="NoSecurity" contract="TicketingOffice.CurrencyExchange.Contract.IExchangeService"></endpoint>
        <endpoint address="BasicExchange" binding="basicHttpBinding" contract="TicketingOffice.CurrencyExchange.Contract.IExchangeService"></endpoint>
      </service>

    </services>


 

  </system.serviceModel>




  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
