<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TicketingOffice;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="TicketingOfficeOrderEntities" connectionString="metadata=res://*/OrdersModel.csdl|res://*/OrdersModel.ssdl|res://*/OrdersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=TicketingOffice;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


  <appSettings>
    <add key="BridgeRequestQueue" value=".\private$\BridgeRequestQueue"/>
    <add key="BridgeResponseQueue" value=".\private$\BridgeResponseQueue"/>
    <add key="ProbUri"  value="net.tcp://localhost:5050/Probe" />
  </appSettings>


  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="StandardBehavior">
          <serviceMetadata httpGetEnabled="true"/>

          <serviceDebug includeExceptionDetailInFaults="false"/>

          <serviceDiscovery />
        </behavior>


      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="ClientCredentialsNegotiation">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>

        <!--Add configuration here-->

      </endpointBehaviors>
    </behaviors>

    <bindings>
      <!--Add MSMQ binding configuration here-->
      <netMsmqBinding>
        <binding
       name="TransactionalNoSecurity"
       durable="true"
           exactlyOnce="true"
           maxReceivedMessageSize="2147483647"
       maxRetryCycles="1"
           receiveRetryCount="20"
       retryCycleDelay="00:05:00">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>

      <ws2007HttpBinding>
        <!--Change transaction configuration here-->
        <binding name="NoSecurity" transactionFlow="True" maxReceivedMessageSize="200000" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <security mode="None"></security>
        </binding>
        <!--Change transaction configuration here-->
        <binding name="RM_NoSecurity"  transactionFlow="True" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <reliableSession enabled="true" ordered="false"  />
          <security mode="None"></security>
        </binding>
      </ws2007HttpBinding>
      
      <netTcpBinding>
        <!--Change transaction configuration here-->
        <binding name="NoSecurity" transactionFlow="True">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>


    </bindings>


    <standardEndpoints>
      <!--Add configuration here-->
      <!-- Specify the discovery protocol version and maxResponseDelay -->
      <udpDiscoveryEndpoint>
        <standardEndpoint
      name="adhocDiscoveryEndpointConfiguration"
          discoveryVersion="WSDiscovery11"
      maxResponseDelay="00:00:10" />
      </udpDiscoveryEndpoint>

      <!--Specify the discovery mode of the proxy discovery endpoint is Managed and not Ad-hoc-->
      <discoveryEndpoint>
        <standardEndpoint
       name="managedDiscoveryEndpoint"
       discoveryMode="Managed"
       maxResponseDelay="00:01:00"/>
      </discoveryEndpoint>

      <!--Specify the announcement protocol -->
      <announcementEndpoint>
        <standardEndpoint name="UdpAnnouncementEndpoint" discoveryVersion="WSDiscovery11"/>
      </announcementEndpoint>
    </standardEndpoints>

    <services>
      <!--Add service configuration here-->      
      <service
          name="TicketingOffice.TicketingService.QueuedTicketingService"
          behaviorConfiguration="StandardBehavior">
        <!--Place endpoint settings here-->
        <endpoint
 	        address="BridgeRequestQueue"
 	        binding="netMsmqBinding"
          bindingConfiguration="TransactionalNoSecurity"  	contract="TicketingOffice.TicketingService.Contracts.ITicketingServiceOneWay">
        </endpoint>
        <endpoint
          name="udpDiscovery"
          kind="udpDiscoveryEndpoint"
          endpointConfiguration="adhocDiscoveryEndpointConfiguration"/>
      </service>
      
      <service behaviorConfiguration="StandardBehavior" name="TicketingOffice.TicketingService.GeneralTicketingService">
        <endpoint address="Ticketing" binding="ws2007HttpBinding" bindingConfiguration="NoSecurity"
          contract="TicketingOffice.TicketingService.Contracts.ITicketingService" />
        <endpoint
          name="udpDiscovery"
          kind="udpDiscoveryEndpoint"
          endpointConfiguration="adhocDiscoveryEndpointConfiguration"/>

        <!--Add endpoint configuration here-->
      </service>     
    </services>


    <client>
      <endpoint name="CrmEP"
                  address="http://localhost/CrmService.svc/InternalCrm" binding="ws2007HttpBinding" bindingConfiguration="UNMessageSecurity" contract="TicketingOffice.CrmService.Contracts.ICrmService"></endpoint>
      <endpoint name="CrmCertEP"
           address="http://localhost/CrmService.svc/ParnerCrm" binding="ws2007HttpBinding" bindingConfiguration="CertMessageSecurity" contract="TicketingOffice.CrmService.Contracts.ICrmService"></endpoint>
      <endpoint name="CurrencyExchangeEP"
                address="http://localhost/CurreancyExchangeService.svc/Exchange" binding="ws2007HttpBinding" bindingConfiguration="NoSecurity" contract="TicketingOffice.CurrencyExchange.Contract.IExchangeService"></endpoint>
      <endpoint name="HallStateEP"
                address="http://localhost/HallStateService.svc/HallState" binding="ws2007HttpBinding" bindingConfiguration="NoSecurity" contract="TicketingOffice.HallState.Contracts.IHallStateService"></endpoint>

      <!--Add configuration here-->

      <endpoint name="HallManagmentEP"
                address="http://localhost/HallStateService.svc/HallManagement" binding="ws2007HttpBinding" bindingConfiguration="NoSecurity" contract="TicketingOffice.HallState.Contracts.IHallManagementService"></endpoint>
      <endpoint name="UNPaymentEP"
                address="http://localhost/PaymentService.svc/TicketsPayment1" binding="ws2007HttpBinding" bindingConfiguration="NoSecurity" contract="TicketingOffice.PaymentService.Contracts.IPaymentService"></endpoint>
      <endpoint name="CertPaymentEP"
                address="net.tcp://localhost/PaymentService.svc/TicketsPayment2" binding="netTcpBinding" bindingConfiguration="NoSecurity" contract="TicketingOffice.PaymentService.Contracts.IPaymentService"></endpoint>
      <endpoint name="DomainPaymentEP"
                address="net.tcp://localhost/PaymentService.svc/TicketsPayment2" binding="netTcpBinding" bindingConfiguration="NoSecurity" contract="TicketingOffice.PaymentService.Contracts.IPaymentService"></endpoint>
      <endpoint name="PricingEP"
                address="http://localhost/PricingService.svc/TicketesPricing" binding="ws2007HttpBinding" bindingConfiguration="NoSecurity" contract="TicketingOffice.Pricing.Contracts.IPricingService"></endpoint>
      <endpoint name="PricingRulesEP"
                address="http://localhost/PricingRules.svc/PricingRules" binding="ws2007HttpBinding" bindingConfiguration="NoSecurity" contract="TicketingOffice.PricingRules.Contracts.IPricingRulesService"></endpoint>
      <endpoint name="ShowEP"
                address="http://localhost/ShowsService.svc/ShowsAndEvents" binding="ws2007HttpBinding" bindingConfiguration="NoSecurity" contract="TicketingOffice.ShowsService.Contracts.IShowsService"></endpoint>
      <endpoint name="TicketingEP"
                address="http://localhost/TicketingService.svc/Ticketing" binding="ws2007HttpBinding" bindingConfiguration="NoSecurity" contract="TicketingOffice.TicketingService.Contracts.ITicketingService"></endpoint>
      <endpoint name="TicketingBridgeEP"
                address="http://localhost/TicketingHttpBridge.svc/TicketingBridgeService" binding="ws2007HttpBinding" bindingConfiguration="RM_NoSecurity" contract="TicketingOffice.TicketingService.Contracts.ITicketingService"></endpoint>
      <endpoint name="QueuedTicketingEP"
          address="net.msmq://localhost/private/BridgeRequestQueue" binding="netMsmqBinding" bindingConfiguration="TransactionalNoSecurity" contract="TicketingOffice.TicketingService.Contracts.ITicketingServiceOneWay"></endpoint>
      <endpoint name="BridgeCallBackEP"
                      address="net.msmq://localhost/private/BridgeResponseQueue" binding="netMsmqBinding" bindingConfiguration="TransactionalNoSecurity" contract="TicketingOffice.TicketingService.Contracts.ITicketingCallBack"></endpoint>
      <endpoint name="CurrencyExchangeAsmxEP"
                  address="http://localhost/CurrencyExchangeAsmxWebService/CurrencyExchangeService.asmx"
                  binding="basicHttpBinding"
                  contract="TicketingOffice.CurrencyExchange.Contract.ICurrencyExchangeAsmxService"></endpoint>

    </client>
  </system.serviceModel>




  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
