<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="Data Source=klyyvlacqc.database.windows.net,1433;Database=TicketingOffice;User ID=jonteho@klyyvlacqc;Password=General90;
         Trusted_Connection=False;Encrypt=True;Connection Timeout=30;Initial Catalog=TicketingOffice;Integrated Security=True;
         MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <!-- Endast denna som används -->
    <add name="TicketingOfficeCrmEntities"
         connectionString="metadata=res://*/CrmModel.csdl|res://*/CrmModel.ssdl|res://*/CrmModel.msl;provider=System.Data.SqlClient;
         provider connection string='Data Source=klyyvlacqc.database.windows.net,1433;Database=TicketingOffice;User ID=jonteho@klyyvlacqc;Password=General90;
         Trusted_Connection=False;Encrypt=True;Connection Timeout=30;Initial Catalog=TicketingOffice;
         MultipleActiveResultSets=False'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="TicketingOfficeExchangeEntities"
         connectionString="metadata=res://*/ExchangeModel.csdl|res://*/ExchangeModel.ssdl|res://*/ExchangeModel.msl;provider=System.Data.SqlClient;
         provider connection string=Data Source=klyyvlacqc.database.windows.net,1433;Database=TicketingOffice;User ID=jonteho@klyyvlacqc;Password=General90;
         Trusted_Connection=False;Encrypt=True;Connection Timeout=30;Initial Catalog=TicketingOffice;Integrated Security=True;
         MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="TicketingOfficeHallsEntities"
         connectionString="metadata=res://*/ReservationsModel.csdl|res://*/ReservationsModel.ssdl|res://*/ReservationsModel.msl;provider=System.Data.SqlClient;
         provider connection string=Data Source=klyyvlacqc.database.windows.net,1433;Database=TicketingOffice;User ID=jonteho@klyyvlacqc;Password=General90;
         Trusted_Connection=False;Encrypt=True;Connection Timeout=30;Initial Catalog=TicketingOffice;Integrated Security=True;
         MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="TicketingOfficePaymentEntities"
         connectionString="metadata=res://*/PaymentModel.csdl|res://*/PaymentModel.ssdl|res://*/PaymentModel.msl;provider=System.Data.SqlClient;
         provider connection string=Data Source=klyyvlacqc.database.windows.net,1433;Database=TicketingOffice;User ID=jonteho@klyyvlacqc;Password=General90;
         Trusted_Connection=False;Encrypt=True;Connection Timeout=30;Initial Catalog=TicketingOffice;Integrated Security=True;
         MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="TicketingOfficePricingEntities"
         connectionString="metadata=res://*/PricingRulesModel.csdl|res://*/PricingRulesModel.ssdl|res://*/PricingRulesModel.msl;provider=System.Data.SqlClient;
         provider connection string=Data Source=klyyvlacqc.database.windows.net,1433;Database=TicketingOffice;User ID=jonteho@klyyvlacqc;Password=General90;
         Trusted_Connection=False;Encrypt=True;Connection Timeout=30;Initial Catalog=TicketingOffice;Integrated Security=True;
         MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="TicketingOfficeShowEntities"
         connectionString="metadata=res://*/ShowModel.csdl|res://*/ShowModel.ssdl|res://*/ShowModel.msl;provider=System.Data.SqlClient;
         provider connection string=Data Source=klyyvlacqc.database.windows.net,1433;Database=TicketingOffice;User ID=jonteho@klyyvlacqc;Password=General90;
         Trusted_Connection=False;Encrypt=True;Connection Timeout=30;Initial Catalog=TicketingOffice;Integrated Security=True;
         MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="TicketingOfficeOrderEntities"
         connectionString="metadata=res://*/OrdersModel.csdl|res://*/OrdersModel.ssdl|res://*/OrdersModel.msl;provider=System.Data.SqlClient;
         provider connection string=Data Source=klyyvlacqc.database.windows.net,1433;Database=TicketingOffice;User ID=jonteho@klyyvlacqc;Password=General90;
         Trusted_Connection=False;Encrypt=True;Connection Timeout=30;Initial Catalog=TicketingOffice;Integrated Security=True;
         MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

</configuration>