<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
  </system.web>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TicketingOffice;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="TicketingOfficePaymentEntities" connectionString="metadata=res://*/PaymentModel.csdl|res://*/PaymentModel.ssdl|res://*/PaymentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=TicketingOffice;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.serviceModel>
    <protocolMapping>
      <add scheme="http" binding="basicHttpContextBinding"/>
    </protocolMapping>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="False"/>
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>    
    
    <services>
      <service name="CreditPaymentService">
        <endpoint  address="CreditWF" binding="basicHttpContextBinding" contract="CreditcardPaymentService"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>
