<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TicketingOffice;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="TicketingOfficeCrmEntities" connectionString="metadata=res://*/CrmModel.csdl|res://*/CrmModel.ssdl|res://*/CrmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=TicketingOffice;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TicketingOfficeExchangeEntities" connectionString="metadata=res://*/ExchangeModel.csdl|res://*/ExchangeModel.ssdl|res://*/ExchangeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=TicketingOffice;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TicketingOfficeHallsEntities" connectionString="metadata=res://*/ReservationsModel.csdl|res://*/ReservationsModel.ssdl|res://*/ReservationsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=TicketingOffice;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TicketingOfficePaymentEntities" connectionString="metadata=res://*/PaymentModel.csdl|res://*/PaymentModel.ssdl|res://*/PaymentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=TicketingOffice;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TicketingOfficePricingEntities" connectionString="metadata=res://*/PricingRulesModel.csdl|res://*/PricingRulesModel.ssdl|res://*/PricingRulesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=TicketingOffice;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TicketingOfficeShowEntities" connectionString="metadata=res://*/ShowModel.csdl|res://*/ShowModel.ssdl|res://*/ShowModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=TicketingOffice;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TicketingOfficeOrderEntities" connectionString="metadata=res://*/OrdersModel.csdl|res://*/OrdersModel.ssdl|res://*/OrdersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=TicketingOffice;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>