<?xml version="1.0"?>
<configuration>

    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TicketingOffice.CurrencyExchangeAsmxProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="CurrencyExchangeAsmxProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

    <applicationSettings>
        <TicketingOffice.CurrencyExchangeAsmxProxy.Properties.Settings>
            <setting name="CurrencyExchangeAsmxProxy_AsmxExchange_CurrencyExchangeService"
                serializeAs="String">
                <value>http://localhost:3790/CurrencyExchangeService.asmx</value>
            </setting>
        </TicketingOffice.CurrencyExchangeAsmxProxy.Properties.Settings>
        <CurrencyExchangeAsmxProxy.Properties.Settings>
            <setting name="CurrencyExchangeAsmxProxy_AsmxExchange_CurrencyExchangeService"
                serializeAs="String">
                <value>http://localhost:3790/CurrencyExchangeService.asmx</value>
            </setting>
        </CurrencyExchangeAsmxProxy.Properties.Settings>
    </applicationSettings>
</configuration>
